*.bak
*.log
./logs
/.idea
./build
./dist*
./*.zip
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
Thumbs.db
.DS_Store
*.DS_Store
logs/
/errors
/sessions
site-packages/
__pycache__
/__pycache__/*
*.sqlite3
/.vscode
media
/venv
/.venv
/jobs/migrations/0002_auto_20200502_0925.py
/jobs/migrations/0001_initial.py
